mixin link(link)
	article(role="article", itemscope itemtype="http://schema.org/BlogPosting").links-list
		h3(itemprop='name').mb-0
			//- a(href='/links/link/' + link.slug, itemprop='url')
			strong= link.label
			if link.author
				small.text-muted  - #{link.author.name.full}, added #{moment(link.publishedDate).fromNow()}
		p: a(href=link.href, target='_blank'): small: em!=link.href
		p(itemprop='description')!= link.description.html
		if link.categories && link.categories.length
			each cat, i in link.categories
				if i
					| , 
				a(href='/links/' + cat.key)= cat.name
