include meetup-talk

mixin meetup(meetup, mode)

	- var today = new Date();

	.meetup(class='meetup--'+mode)
		.meetup-calendar.calendar(class=mode == 'past' ? 'calendar--past' : null)
			.calendar__header=meetup._.date.format('MMM')
			.calendar__body
				.calendar__date=meetup._.date.format('DD')
				.calendar__year=meetup._.date.format('YYYY')
		.meetup-content
			.text-muted=meetup._.date.format('dddd D MMM YYYY')
				if meetup.time
					|  from #{meetup.time}
			h2.mt-0= meetup.name
			if meetup.description
				p!= meetup.description
			if meetup.talks.length
				hr.mv-2
				ul.meetup-talks
					each talk in meetup.talks
						+meetup-talk(talk)

		if meetup.date > today
			hr.mv-2
			h4 Are you going?
			#next-meetup(data-id=meetup.id)
				if user
					if meetup.rsvpsAvailable
						.meetup-status
							label.btn.btn-block.btn-default.js-rsvp-checking.disabled
								|  Checking...
						.form-row.meetup-toggle(style='display: none;')
							.col-xs-6
								button(type='button').btn.btn-lg.btn-block.btn-default.js-rsvp-attending Yes
							.col-xs-6
								button(type='button').btn.btn-lg.btn-block.btn-default.js-rsvp-decline No
					else
						.alert.alert-success.mb-0.text-center No more tickets...

				else
					a(href='/join', data-from=page.path).btn.btn-primary.btn-lg.btn-block.js-auth-trigger RSVP Now
		else if meetup.totalRSVPs
			hr
			.text-center
				.h1.text-muted.mb-0= meetup.totalRSVPs
				.lead.text-muted Awesome folks attended this meetup