mixin meetup(meetup, mode)
	.meetup(class='meetup--'+mode)
		.meetup-calendar.calendar(class=mode == 'past' ? 'calendar--past' : null)
			.calendar__header=meetup._.date.format('MMM')
			.calendar__body
				.calendar__date=meetup._.date.format('DD')
				.calendar__year=meetup._.date.format('YYYY')
		.meetup-content
			.text-muted=meetup._.date.format('dddd D MMM YYYY')
				if meetup.time
					|  from #{meetup.time}
			h2.mt-0= meetup.name
			if meetup.description
				p!= meetup.description
			if meetup.talks.length
				.meetup-talks
					span.meetup-talks__icon.entypo.entypo-large.entypo-comment
					h4.meetup-talks__heading Talks 
						=mode == 'past' ? 'from ' : 'on '
						| the night
					ul.list-unstyled
						each talk in meetup.talks
							li.talk
								strong.talk__name= talk.name
										|  
								if talk.who.length
									.talk__speaker
										| by 
										each user in talk.who
											= user.name.full + ' '
											if user.twitter
												a(href='http://twitter.com/' + user.twitter.replace('@', ''), target='_blank' data-size="large")= user.twitter + ' '
								if talk.slides
									.talk__resource
										span.entypo.entypo-docs
										|  Slides - 
										a(href=talk.slides, target='_blank', title='View the slides from this talk').talk__resource-anchor=talk.slides
								if talk.link
									.talk__resource
										span.entypo.entypo-link
										|  Website - 
										a(href=talk.link, target='_blank', title='View the website for this talk').talk__resource-anchor=talk.link
