include meetup-talk

mixin meetup(meetup)

	- var today = new Date();

	.tile.ph-1.pv-1
		.meetup-calendar.calendar.hidden-xs.hidden-sm(class=meetup.state == 'past' ? 'calendar--past' : null)
			.calendar__header=meetup._.startDate.format('MMM')
			.calendar__body
				.calendar__date=meetup._.startDate.format('DD')
				.calendar__year=meetup._.startDate.format('YYYY')
		.meetup-content
			h2.mv-5= meetup.name
			h5.mb-1=meetup._.startDate.format('dddd D MMM YYYY')
				|  from #{meetup._.startDate.format('h:mma')} - #{meetup._.endDate.format('h:mma')}
			if meetup.description
				p!= meetup.description
			if meetup.talks.length
				hr.mv-2
				ul.meetup-talks
					each talk in meetup.talks
						+meetup-talk(talk)

		if meetup.state == 'active'
			hr.mv-2
			if user
				if meetup.rsvpsAvailable || rsvpStatus.rsvped && rsvpStatus.attending
					h4.hero-button-title Are you coming? 
						span.text-thin (#{plural(meetup.remainingRSVPs, '* spot left', '* spots left')})
					include ../includes/attendance-toggle
				else
					.alert.alert-success.mb-0.text-center No more tickets...
			
			else
				#next-meetup(data-id=meetup.id)
					if meetup.rsvpsAvailable
						a(href='/join', data-from=page.path).btn.btn-primary.btn-lg.btn-block.js-auth-trigger RSVP Now 
							span.text-thin (#{plural(meetup.remainingRSVPs, '* spot left', '* spots left')})
					else
						.alert.alert-success.mb-0.text-center No more tickets...
		else if meetup.totalRSVPs
			hr
			.text-center
				.h1.text-muted.mb-0= meetup.totalRSVPs
				.lead.text-muted people #{meetup.state == 'active' ? "are attending" : "attended"} this meetup
			if meetup.state == 'past'
				ul.list-unstyled.list-inline.text-center
					for rsvp in meetup.rsvps
						if rsvp.who
							- var attendee = rsvp.who;
							if attendee.isPublic
								li: a(href=attendee.url, title=attendee.name.full)
									img(src=attendee.photo.exists ? attendee._.photo.thumbnail(80,80) : attendee.avatarUrl || '/images/avatar.png', width=40, height=40, alt=attendee.name.full).img-circle
							else
								li(title=attendee.name.full): img(src=attendee.photo.exists ? attendee._.photo.thumbnail(80,80) : attendee.avatarUrl || '/images/avatar.png', width=40, height=40, alt=attendee.name.full).img-circle
