include meetup-talk

mixin meetup(meetup)

	- var today = new Date();

	.tile.ph-1.pv-1
		.meetup-calendar.calendar.hidden-xs.hidden-sm(class=meetup.state == 'past' ? 'calendar--past' : null)
			.calendar__header=meetup._.startDate.format('MMM')
			.calendar__body
				.calendar__date=meetup._.startDate.format('DD')
				.calendar__year=meetup._.startDate.format('YYYY')
		.meetup-content
			h2.mv-5= meetup.name
			h5.mb-1=meetup._.startDate.format('dddd D MMM YYYY')
				|  from #{meetup._.startDate.format('h:mma')} - #{meetup._.endDate.format('h:mma')}
			if meetup.description
				p!= meetup.description
			if meetup.talks.length
				hr.mv-2
				ul.meetup-talks
					each talk in meetup.talks
						+meetup-talk(talk)
		hr.mv-2
		ins.cetejob
			article
				header
					h1 Job: Ansarada is looking for a Senior Front End Developer - Design Ops
				p
					| Design Ops is a team dedicated to making our product design consistent and at the highest standard we can deliver. We are seeking multi-disciplinary individuals with a passion for bridging design and engineering to help build out our design systems at scale.
				footer
					address
						a.cetejob-apply(href="http://bit.ly/ansarada-design-ops-sydjs-com-event") Read more & apply
						aside
							| Jobs powered by&nbsp;
							a(href="https://cete.io/jobs") Cete
		style.
			.cetejob, .cetejob * {
			box-sizing: border-box;
			padding: 0;
			margin: 0;
			transition: all .2s;
			}
			.cetejob {
			display: block;
			text-decoration: none;
			}
			.cetejob header, .cetejob header h1 {
			font-size: 1em;
			}
			.cetejob header h1 {
			font-weight: bold;
			margin-top: 0.5em;
			}
			.cetejob p {
			margin: 1em 0;
			}
			.cetejob footer a {
			color: blue;
			}
			.cetejob footer a:visited {
			color: blue;
			}
			.cetejob footer address {
			display: flex;
			flex-direction: row;
			font-style: normal;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-end;
			margin-top: -1em;
			}
			.cetejob footer address > * {
			margin-top: 1em;
			}
			.cetejob footer address .cetejob-apply {
			margin-right: 2em;
			}
			.cetejob footer aside {
			opacity: 0.4;
			flex: 1 0;
			font-size: smaller;
			text-align: right;
			}
			.cetejob footer aside:hover {
			opacity: 1;
			}
			.cetejob footer a, .cetejob footer aside {
			white-space: nowrap;
			}

		if meetup.state == 'active'
			hr.mv-2
			.meetup-cta
				if user
					if meetup.rsvpsAvailable
						h4.hero-button-title
							if !rsvpStatus.rsvped && rsvpStatus.attending
								span RSVP Confirmed!
							else
								span Are you coming?&nbsp;
								span.text-thin (#{plural(meetup.remainingRSVPs, '* spot left', '* spots left')})

						include ../includes/attendance-toggle
					else
						.alert.alert-success.mb-0.text-center No more tickets&hellip;

				else
					#next-meetup(data-id=meetup.id)
						if meetup.rsvpsAvailable
							a(href='/join', data-from=page.path).btn.btn-primary.btn-lg.btn-block.js-auth-trigger RSVP Now 
								span.text-thin (#{plural(meetup.remainingRSVPs, '* spot left', '* spots left')})
						else
							.alert.alert-success.mb-0.text-center No more tickets&hellip;

		else if meetup.totalRSVPs
			hr
			.text-center
				.h1.text-muted.mb-0= meetup.totalRSVPs
				.lead.text-muted people #{meetup.state == 'active' ? "are attending" : "attended"} this meetup
			if meetup.state == 'past'
				ul.list-unstyled.list-inline.text-center
					for rsvp in meetup.rsvps
						if rsvp.who
							- var attendee = rsvp.who;
							if attendee.isPublic
								li: a(href=attendee.url, title=attendee.name.full)
									img(src=attendee.photo.exists ? attendee._.photo.thumbnail(80,80) : attendee.avatarUrl || '/images/avatar.png', width=40, height=40, alt=attendee.name.full).img-circle
							else
								li(title=attendee.name.full): img(src=attendee.photo.exists ? attendee._.photo.thumbnail(80,80) : attendee.avatarUrl || '/images/avatar.png', width=40, height=40, alt=attendee.name.full).img-circle
