doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
	
	body
		if authUser
			script.
				// This should be automatically injected by Cordova, but it isn't :( stopgap solution for now
				(function(d){var e = _cdvIframeBridge = d.createElement('iframe');e.style.display='none';d.body.appendChild(e);})(document)
				
				var authUser = {
					type: "#{authUser.type}",
					
					name: {
						first: "#{authUser.name.first}",
						last: "#{authUser.name.last}"
					},
					
					email: "#{authUser.email}",
					
					website: "#{authUser.website}",
					
					profileId: "#{authUser.profileId}",
					
					username: "#{authUser.username}",
					avatar: "#{authUser.avatar}",
					
					accessToken: "#{authUser.accessToken}",
					refreshToken: "#{authUser.refreshToken}"
				}
				
				localStorage.setItem('authUser', JSON.stringify(authUser));
