extends ../../layouts/default


//- INCLUDES
include ../../mixins/post
include ../../mixins/meetup-talk
include ../../mixins/advertisement


//- INTRO
block intro

	//- HERO
	if !meetup
		h2.text-center You've just deployed a new site! Go add some data :)
	else
		article#hero.hero-meetup.hero-meetup--next
			
			//- Intro
			section.hero-intro.hero-intro--hasmask
				.hero-background
					//-img(src='/images/placeholders/sydney-1.jpg')
				.hero-intro-content
					h5.subtitle #{meetup.state == 'active' ? 'Next' : 'Last'} Meetup
					h1.title= meetup.name
					p.byline: strong #{meetup._.startDate.format('ddd, DD MMM YYYY')} &#8212; #{meetup._.startDate.format('h:mma')} - #{meetup._.endDate.format('h:mma')}
					p.byline #{meetup.place} &#8212; 
						a(href='http://maps.google.com.au/?daddr=' + (meetup.map || meetup.place), target='_blank') Directions
				if meetup.state == 'active'
					.hero-button
						if user
							if meetup.rsvpsAvailable || rsvpStatus.rsvped && rsvpStatus.attending
								h4.hero-button-title Are you coming? 
									span.text-thin (#{plural(meetup.remainingRSVPs, '* spot left', '* spots left')})
								include ../../includes/attendance-toggle
							else
								.alert.alert-success.mb-0.text-center No more tickets...

						else
							#next-meetup(data-id=meetup.id)
								if meetup.rsvpsAvailable
									a(href='/join', data-from=page.path).btn.btn-primary.btn-lg.btn-block.js-auth-trigger RSVP Now 
										span.text-thin (#{plural(meetup.remainingRSVPs, '* spot left', '* spots left')})
								else
									.alert.alert-success.mb-0.text-center No more tickets...
			
			//- Details
			section.hero-details: .container
				.row: .col-sm-10.col-sm-offset-1: .row
					
					//- Description
					.col-md-5
						//- h3.mb-1 The meetup
						.description!= meetup.description

					//- Talks
					.col-md-6.col-md-offset-1
						if meetup.talks.length
							//- h3.mb-1 The talks
							.meetup-talks
								ul.list-unstyled.talks-list
									each talk in meetup.talks
										li.talk.row
											.col-xs-3
												.talk__speakers
													if talk.who.length
														each speaker, i in talk.who
															img(src=speaker.photo.exists ? speaker._.photo.thumbnail(320,320) : speaker.avatarUrl || '/images/avatar.png', width=160, height=160, alt=speaker.name.full, class=talk.who.length > 1 ? 'talk__photo--mini' : null).talk__photo
													else
														img(src='/images/avatar.png', width=160, height=160, alt='There is no speaker...').talk__photo
												//- if talk.who.length
													.talkers
														for photo in talk.who
															img(src='http://fillmurray.com/100/100').img-circle
											.col-xs-9
												.talk-summary
													h5.title= talk.name
													p.subtitle.mb-1 by 
														each speaker, i in talk.who
															if i
																| , 
															if speaker.isPublic 
																a(href=speaker.url)=speaker.name.full
															else
																=speaker.name.full
													.summary!= talk.description
				//- Attending
				section.attending
					h3.heading-with-line #{meetup.totalRSVPs} people #{meetup.state == 'active' ? "are attending" : "attended"}
					ul.list-unstyled.list-inline.text-center.attendees-list
						for rsvp in meetup.rsvps
							if rsvp.attending
								- var attendee = rsvp.who;
								if attendee.isPublic
									li: a(href=attendee.url, title=attendee.name.full)
										img(src=attendee.photo.exists ? attendee._.photo.thumbnail(80,80) : attendee.avatarUrl || '/images/avatar.png', width=40, height=40, alt=attendee.name.full).img-circle
								else
									li(title=attendee.name.full): img(src=attendee.photo.exists ? attendee._.photo.thumbnail(80,80) : attendee.avatarUrl || '/images/avatar.png', width=40, height=40, alt=attendee.name.full).img-circle
//- BODY
block content
	.page-content
		
		//- About
		article.section.section--featured.home-about: .container
			h2 In Sydney and into JavaScript? You need to join SydJS!
			.row: .col-sm-8.col-sm-offset-2
				p.lead Every 3rd Wednesday of the month you'll find us talking about what we're doing and what's happening around us in the world of JavaScript.
			if !user
				.row: .col-sm-4.col-sm-offset-4
					a(href='/join', data-from=page.path).js-auth-trigger.btn.btn-lg.btn-block.btn-primary.mv-1
						span.text-caps Join SydJS now
			p.mt-1
				a(href='/about') Learn more about SydJS
				|  &nbsp;&middot;&nbsp; 
				a(href='/members') Find your friends in SydJS
			p.mt-1: a(href="https://twitter.com/sydjs", class="twitter-follow-button", data-show-count="true", data-size="large") Follow @sydjs
//- JS
block js
	//- twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	//- map
	if google_api_key
		script(src!='https://maps.googleapis.com/maps/api/js?key=' + google_api_key + '&sensor=false&libraries=places')
		script(src='/js/views/index.js')
