extends ../../layouts/default


//- INCLUDES
include ../../mixins/post
include ../../mixins/meetup-talk
include ../../mixins/advertisement


//- INTRO
block intro

	//- HERO
	if meetup
		article#hero.hero-meetup.hero-meetup--next
			
			//- Intro
			section.hero-intro.hero-intro--hasmask
				.hero-background
					//-img(src='/images/placeholders/sydney-1.jpg')
				.hero-intro-content
					h5.subtitle #{meetup.state == 'active' ? 'Next' : 'Last'} Meetup
					h1.title= meetup.name
					p.byline #{meetup._.date.format('ddd, DD MMM YYYY')} &#8212; #{meetup.time}
					p.byline #{meetup.place} &#8212; 
						a(href='http://maps.google.com.au/?daddr=' + meetup.place, target='_blank') Directions
				.hero-button
					if user
						if meetup.rsvpsAvailable
							h4.hero-button-title Are you coming? 
								span.text-thin (#{plural(meetup.remainingRSVPs, '* spot left', '* spots left')})
							#next-meetup(data-id=meetup.id)
								.meetup-status
									label.btn.btn-block.btn-default.js-rsvp-checking.disabled
										|  Checking...
								.form-row.meetup-toggle(style='display: none;')
									.col-xs-6
										button(type='button').btn.btn-lg.btn-block.btn-default.js-rsvp-attending Yes
									.col-xs-6
										button(type='button').btn.btn-lg.btn-block.btn-default.js-rsvp-decline No
						else
							.alert.alert-success.mb-0.text-center No more tickets...

					else
						#next-meetup(data-id=meetup.id)
							a(href='/join', data-from=page.path).btn.btn-primary.btn-lg.btn-block.js-auth-trigger RSVP Now 
								span.text-thin (#{plural(meetup.remainingRSVPs, '* spot left', '* spots left')})
			
			//- Details
			section.hero-details: .container
				.row: .col-sm-10.col-sm-offset-1: .row
					
					//- Description
					.col-md-5
						//- h3.mb-1 The meetup
						.description!= meetup.description

					//- Talks
					.col-md-6.col-md-offset-1
						if meetup.talks.length
							//- h3.mb-1 The talks
							.meetup-talks
								ul.list-unstyled.talks-list
									each talk in meetup.talks
										li.talk.row
											.col-xs-3
												.talk__speakers
													if talk.who.length
														each speaker, i in talk.who
															img(src=speaker.photo.exists ? speaker._.photo.thumbnail(320,320) : '/images/avatar.png', width=160, height=160, alt=speaker.name.full, class=talk.who.length > 1 ? 'talk__photo--mini' : null).talk__photo
													else
														img(src='/images/avatar.png', width=160, height=160, alt='There is no speaker...').talk__photo
												//- if talk.who.length
													.talkers
														for photo in talk.who
															img(src='http://fillmurray.com/100/100').img-circle
											.col-xs-9
												.talk-summary
													h5.title= talk.name
													p.subtitle.mb-1 by 
														each speaker, i in talk.who
															if i
																| , 
															if speaker.isPublic 
																a(href=speaker.url)=speaker.name.full
															else
																=speaker.name.full
													.summary!= talk.description
				//- Attending
				section.attending
					h3.heading-with-line #{meetup.totalRSVPs} people are attending
					ul.list-unstyled.list-inline.text-center.attendees-list
						for rsvp in meetup.rsvps
							if rsvp.who
								- var attendee = rsvp.who;
								if attendee.isPublic
									li: a(href=attendee.url, title=attendee.name.full)
										img(src=attendee.photo.exists ? attendee._.photo.thumbnail(80,80) : '/images/avatar.png', width=40, height=40, alt=attendee.name.full).img-circle
								else
									li(title=attendee.name.full): img(src=attendee.photo.exists ? attendee._.photo.thumbnail(80,80) : '/images/avatar.png', width=40, height=40, alt=attendee.name.full).img-circle
//- BODY
block content
	.page-content
		
		//- About
		article.section.section--featured.home-about: .container
			h4 In Sydney and into JavaScript? You need to join SydJS!
			.row: .col-sm-8.col-sm-offset-2
				h3 Every 3rd Wednesday of the month you'll find us talking about what we're doing and what's happening around us in the world of JavaScript.
			.row: .col-sm-4.col-sm-offset-4
				a(href='#').btn.btn-lg.btn-block.btn-primary.mv-1
					span.text-caps Join SydJS now
			p.mt-1
				a(href='/about') Learn more about SydJS
				|  &nbsp;&middot;&nbsp; 
				a(href='/members') Find your friends in SydJS
			p.mt-1: a(href="https://twitter.com/sydjs", class="twitter-follow-button", data-show-count="true", data-size="large") Follow @sydjs
		.container
			//- Links
			//- article.section.home-links
				.row
					.col-sm-4
						.link-icon-badge: span.link-icon.entypo.entypo-globe
						h3.home-links__heading Organisations
						p.text-left Ju wan jQuery? Keen on Keystone? Looking for Lint? Need NICTA? Want a Webstack?
						p.text-left.mt-1 There's a whole range of organisations that just help make your JavaScript life that much easier.
						p.text-left.mt-1: a(href='/members/organisations', class='home-links-anchor') View organisations &#8250;

					.col-sm-4
						.link-icon-badge: span.link-icon.entypo.entypo-users
						h3.home-links__heading Members
						p.text-left At SydJS, all members are equal! To misquote Orwell, though, some are more equal than others.
						p.text-left.mt-1 Want to raise your profile? Volunteer and we'll add you to the roster! Want to find out who's stepped up? It's all here.
						p.text-left.mt-1: a(href='/members', class='home-links-anchor') View members &#8250;

					.col-sm-4
						.link-icon-badge: span.link-icon.entypo.entypo-link
						h3.home-links__heading Links
						p.text-left Got a favourite CDN? A favourite library? A micro-library? We do! You'll find some of them linked here.
						p.text-left.mt-1 You might even find some links to things that _aren't_ JavaScript? That's right! Some things aren't JavaScript.
						p.text-left.mt-1: a(href='/links', class='home-links-anchor') View links &#8250;


			//- Blog
			//- if posts.length
				section.section.home-blog
					h2.heading-with-line.mb-2 Latest Posts
					.post-cards.row(itemscope itemtype="http://schema.org/Blog")
						each post in posts
							+post(post)

					.row: .col-sm-4.col-sm-offset-4
						a(href='/blog').btn.btn-link.btn-block.text-muted.mt-3 See all posts &#8250;


	//-section.section.home-meetup
		if !meetup
			.container
				h1 Welcome<br>
				h3 It looks like you've initialised a new database.
				p.lead Head over to <a href='/keystone'>Keystone</a> and create an upcoming meetup, some members and blog posts to see the site work properly.
				p.lead A default account has been created for you to sign in with: <strong>user@keystonejs.com</strong> and the password <strong>admin</strong>.
		else
			.home-meetup-wrapper
				.container
					h5= (lastMeetup) ? 'Our last meetup:' : 'Our next meetup:'
					div(data-ks-editable=editable(user, { list: 'Meetup', id: meetup.id }))
						h1= meetup.name
						.row
							.col-sm-8
								if meetup.description
									p!= meetup.description
								if meetup.talks.length
									.meetup-talks
										span.meetup-talks__icon.entypo.entypo-large.entypo-comment
										h4.meetup-talks__heading Talks on the night
										ul.list-unstyled
											each talk in meetup.talks
												li.talk
													strong.talk__name #{talk.name} 
													if talk.who.length
														.talk__speaker
															| by 
															each user, i in talk.who
																if i
																	| , 
																= user.name.full + ' '
																if user.twitter
																	a(href='http://twitter.com/' + user.twitter.replace('@', ''), target='_blank' data-size="large")= user.twitter + ' '
							.col-sm-4
								dl.dl-horizontal.home-meetup__details-list
									dt
										.sr-only Date
										span.entypo.entypo-fixed-width.entypo-calendar
									dd=meetup._.date.format('dddd, DD MMM YYYY')
									dt
										.sr-only Time
										span.entypo.entypo-fixed-width.entypo-clock
									dd=meetup.time
									dt
										.sr-only Place
										span.entypo.entypo-fixed-width.entypo-location
									dd=meetup.place
								if !lastMeetup
									.register-btn
										a(href='/attend', disabled=!meetup.rsvpsAvailable).btn.btn-lg.btn-block.btn-register= meetup.rsvpsAvailable ? 'Register' : 'Sold out!'
								hr.line-dashed
								p: a(href='/meetups').text-muted All our meetups &rarr;

								+advertisement()
			.home-meetup-map
				#meetup-map.map
				a(href='https://maps.google.com.au/?daddr=' + meetup.place, target='_blank').directions-button
					span.entypo.entypo-popup
					|  Get Directions


//- JS
block js
	//- twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	//- map
	if google_api_key
		script(src!='https://maps.googleapis.com/maps/api/js?key=' + google_api_key + '&sensor=false&libraries=places')
		script(src='/js/views/index.js')
