extends ../../layouts/default

block intro

block flash-messages

block content
	.container-sm
		if nextMeetup
			.alert.alert-info The next meetup has been announced - 
				a(href=nextMeetup.url).alert-link= nextMeetup._.date.format('dddd D MMM YYYY')
		h1 Hi #{user.name.first}
		p.lead These are your settings and profile details
		+flash-messages(messages)
		form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).form-horizontal
			input(type='hidden', name='action', value='profile.details')
			h3 Private Info
			.form-group
				label.col-sm-2.control-label Name
				.col-sm-10: .form-row
					.col-xs-6: input(type='text', name='name.first' value=user.name.first).form-control
					.col-xs-6: input(type='text', name='name.last' value=user.name.last).form-control
			.form-group
				label.col-sm-2.control-label Email
				.col-sm-10: input(type='email', name='email' value=user.email).form-control
			.form-group
				strong.col-sm-2.control-label Notify me
				.col-sm-10
					.checkbox: label
						input(type='checkbox', name='notifications.meetups' value='true' checked=user.notifications.meetups)
						|  When there is a new meetup
					.checkbox: label
						input(type='checkbox', name='notifications.posts' value='true' checked=user.notifications.posts)
						|  When there is a new post
			//- h3.mt-0 Your details
			hr.mv-2
			h3 Profile Info
			.form-group
				label.col-sm-2 Public
				.col-sm-10
					label.checkbox-inline
						input(type='checkbox', name='isPublic', value='true', checked=user.isPublic ? 'true' : null)
						|  Show my profile on the SydJS website
			.form-group
				label.col-sm-2.control-label Website
				.col-sm-10: input(type='text', name='website' value=user.website).form-control
			.form-group
				label.col-sm-2.control-label Bio
					br
					.text-muted (markdown)
				.col-sm-10
					textarea(name='bio', rows=5).form-control=user.bio.md
			
			.form-group
				label.col-sm-2.control-label Photo
				.col-sm-10
					if user.photo.exists
						.row
							.col-sm-3: img(src=user._.photo.thumbnail(120,120)).img-responsive
							.col-sm-9: input(type='file', name='photo_upload')
					else
						input(type='file', name='photo_upload')
			.form-group
				label.col-sm-2.control-label Mentoring
				.col-sm-10
					.checkbox: label
						input(type='checkbox', name='mentoring.available', value='true', checked=user.mentoring.available)
						|  Available as a mentor
					.checkbox: label
						input(type='checkbox', name='mentoring.free', value='true', checked=user.mentoring.free)
						|  For Free
					.checkbox: label
						input(type='checkbox', name='mentoring.paid', value='true', checked=user.mentoring.paid)
						|  For Payment
					.checkbox: label
						input(type='checkbox', name='mentoring.swap', value='true', checked=user.mentoring.swap)
						|  For Swap
			.form-group
				label.col-sm-2.control-label I have...
				.col-sm-10
					input(type='text', name='mentoring.have', placeholder='', value=user.mentoring.have).form-control
			.form-group
				label.col-sm-2.control-label I want...
				.col-sm-10
					input(type='text', name='mentoring.want', placeholder='', value= user.mentoring.want).form-control
			.form-group
				.col-sm-10.col-sm-offset-2
					button(type='submit', data-loading-text="Saving...").btn.btn-primary Save profile
			hr.mv-2
		.ui-reveal
			.ui-reveal__initial
				button(type='button').btn.btn-link.ui-reveal__trigger Change Password
			.ui-reveal__hidden
				form(method='post', autocomplete='off')
					input(type='hidden', name='action', value='profile.password')
					h3 Change password
					.form-group
						label(for='change-passwordNew').sr-only New Password
						input(type='password', name='password', placeholder='New Password', id='change-passwordNew').form-control
					.form-group
						label(for='change-passwordConfirm').sr-only Confirm Password
						input(type='password', name='password_confirm', placeholder='Confirm Password', id='signin-passwordConfirm').form-control
					.form-group
						button(type='submit', data-loading-text="Changing...").btn.btn-primary Change
							
block js
	script(src='/js/lib/bootstrap/button.js')
	script(src='/js/views/me.js')
