extends ../../layouts/default

include ../../mixins/meetup

block body
	//- .container-sm: .page-intro
		.meetup(class='meetup--past')
			.meetup-calendar.calendar(class=mode == 'past' ? 'calendar--past' : null)
				.calendar__header=meetup._.date.format('MMM')
				.calendar__body
					.calendar__date=meetup._.date.format('DD')
					.calendar__year=meetup._.date.format('YYYY')
			.meetup-content
				.text-muted=meetup._.date.format('dddd D MMM YYYY')
					if meetup.time
						|  from #{meetup.time}
				h2.mt-0= meetup.name
				if meetup.description
					p!= meetup.description
	if meetup
		.container-sm
			.page-intro.text-left
				a(href='/meetups').text-muted &larr; Back to all meetups
			.page-content
				+meetup(meetup, (meetup.date > new Date() ? 'present' : 'past'))
				if user && meetup.rsvpsAvailable && meetup.date > new Date()
					#next-meetup(data-id=meetup.id)
						hr.mv-2
						h4 Are you going?
						.meetup-status
							label.btn.btn-block.btn-default.js-rsvp-checking.disabled
								|  Checking...
						.form-row.meetup-toggle(style='display: none;')
							.col-xs-6
								button(type='button').btn.btn-block.btn-lg.btn-default.js-rsvp-attending Yes
							.col-xs-6
								button(type='button').btn.btn-block.btn-lg.btn-default.js-rsvp-decline No
						//- h4.text-muted You are going to this meetup. 
							a(href='javascript:;') Change