extends ../../layouts/default

block intro
	.page-intro: .container
		h1 Members
		p.lead The people and who make up SydJS. 
			if !user
				a(href='/join').js-auth-trigger Add your tile
block content
	.container
		if members.length
			ul#members.list-unstyled.members-list
				li.grid-sizer
				each member in members
					li.member-item
						.member.member--card
							.member-section.member__photo
								//- todo: tom/joss - replace the bill murray placeholder
								a(href=member.url): img(src=(member.photo.exists ? member._.photo.thumbnail(300,240) : '/images/avatar.png'), alt=member.name.full)
							.member-section.member__info
								if member.twitter || member.github
									.member__accounts
										if member.twitter
											a(href='https://twitter.com/' + member.twitter.replace('@', ''), target='_blank', data-toggle='tooltip', data-title='@' + member.twitter.replace('@', ''), data-placement='top', data-container='#members').member__account.member__account--twitter.is-tooltip
												span.entypo-social.entypo-twitter
										if member.github
											a(href='https://github.com/' + member.github, target='_blank', data-toggle='tooltip', data-title=member.github, data-placement='top', data-container='#members').member__account.member__account--github.is-tooltip
												span.entypo-social.entypo-github
								h4.member__title: a(href=member.url)= member.name.full
								if member.bio.html
									.member__bio!= member.bio.html
		
		else
			h3.text-muted There are no members yet.

block js
	script(src='/js/lib/bootstrap/transition.js')
	script(src='/js/lib/bootstrap/tooltip.js')
	script(src="/js/lib/masonry/masonry.pkgd.min.js")
	script(src="/js/lib/masonry/imagesloaded.pkgd.min.js")
	script(src="/js/views/members.js")
