extends ../../layouts/default

block content
	.container-sm
		.page-intro
			.text-left: a(href='/members').text-muted &larr; back to all members
			//- hr
			//- code=JSON.stringify(member)
		.member.member--profile
			.member-section.member__info
				.row
					.col-sm-3
						img(src=(member.photo.exists ? member._.photo.thumbnail(600,600) : member.avatarUrl || '/images/avatar.png'), alt=member.name.full).img-responsive.img-rounded
					.col-sm-9
						h1.mb-0= member.name.full
						p.text-muted.mv-1 Member since #{moment(member.createdOn).format('MMMM YYYY')}
						if member.twitter || member.github
							.member__accounts.mb-1
								if member.twitter
									a(href='https://twitter.com/' + member.twitter.replace('@', ''), target='_blank', data-toggle='tooltip', data-title='@' + member.twitter.replace('@', ''), data-placement='top').member__account.member__account--twitter.btn.btn-default
										span.entypo-social.entypo-twitter
										=member.twitter
								if member.github
									a(href='https://github.com/' + member.github, target='_blank', data-toggle='tooltip', data-title=member.github, data-placement='top').member__account.member__account--github.btn.btn-default
										span.entypo-social.entypo-github
										=member.github
						if member.bio.html
							!= member.bio.html
			if member.talks && member.talks.length
				.member-section.member__additional-info
					h5.text-caps Talks
					ul.list-unstyled.mt-1
						each talk in member.talks
							li.media
								.pull-left
									.date(class=moment(talk.meetup.date) < moment(now) ? 'date--past' : 'date--present')
										small.block=moment(talk.meetup.date).format('MMM')
										strong.block=moment(talk.meetup.date).format('DD')
								.media-body
									h5: a(href=talk.meetup.url)=talk.name
									!=talk.description
